* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "PT sans", sans-serif;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1110px;
}

.header__wrap {
  background-color: #000;
}

.header__info {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 0;
}

.header__info-left {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.header__info-right {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.header__nav {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title p {
  font-family: Post No Bills Jaffna;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
}

.header__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #969696;
}

.top-wrap {
  background: url("img/head-man.png");
  background-color: yellow;
  background-repeat: no-repeat;
  width: 1920px;
}

.top {
  background-image: url("img/back");
  background-image: url("img/head-man.png");
  background-repeat: no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 810px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__head {
  text-align: center;
  width: 320px;
  height: 320px;
  margin-top: 160px;
  border: 4px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__head h2 {
  font-family: "Post No Bills Jaffna", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  color: #ffffff;
  padding-top: 93px;
  padding-bottom: 2px;
}

.top__head hr {
  color: white;
  width: 179px;
  margin-top: -20px;
  margin-bottom: 5px;
}

.top__head p {
  font-family: PT Sans;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.top__bottom {
  text-align: center;
  height: 96px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 760px;
  margin-top: 80px;
}

.middle__top {
  height: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle__top-left {
  width: 1040px;
  background-color: black;
}

.middle__top-right {
  width: 880px;
  background-image: url("img/man_middle.png");
}

.middle__top-button {
  height: 600px;
}

.middle__bottom {
  background-color: yellow;
  height: 600px;
}
