$color: white;
p {
	color: $color;
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	font-family: "PT sans", sans-serif;
}

.container {
	padding: 0 10px;
	margin: 0 auto;
	max-width: 1110px;
}

.header {
	&__wrap {
		background-color: #000;
	}

	&__info {
		height: 44px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		padding: 0 0;
	}

	&__info-left {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		color: #969696;
		display: flex;

		p:not(:last-child) {
			margin-right: 10px;
		}

		img {
			margin-right: 5px;
		}
	}

	&__info-right {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		color: #969696;

		a {
			font-family: PT Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 16px;
			color: #969696;
		}

		a:not(:last-child) {
			margin-right: 15px;
		}

		a:hover {
			transform: scale(1.91);
			transition: 0.5s;
			background-color: #0f0f0f;
			color: grey;
		}

		img {
			margin-right: 5px;
		}
	}

	&__nav {
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		p {
			font-family: Post No Bills Jaffna;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 54px;
			color: #ffffff;
		}
	}

	&__links {
		display: flex;
		justify-content: space-between;
	}

	&__link {
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		color: #969696;

		width: 136px;
		height: 80px;
		text-align: center;
		letter-spacing: 0.1em;
		flex: none;
		order: 0;
		flex-grow: 0;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link:hover {
		box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
		transition: 0.5s;
		background: #1f1f1f;
		color: #fff;
	}

	&__link:nth-child(4) {
		width: 50px;
	}

	&__link:nth-child(5) {
		// margin-right: 19px;
		width: 50px;
	}

	// &__img {
	// 	background-image: url("img/header__img.png");
	// 	background-repeat: no-repeat;
	// 	background-size: 100%;
	// }
}

.top-wrap {
	background: url("img/head-man.png");
	background-color: yellow;
	background-repeat: no-repeat;
	width: 1920px;
}

.top {
	background-image: url("img/back");
	background-image: url("img/head-man.png");
	background-repeat: no-repeat;
	// background-size: 100%;
	flex-direction: column;
	height: 810px;
	display: flex;

	// justify-content: center;

	&__head {
		text-align: center;
		width: 320px;
		height: 320px;
		margin-top: 160px;
		border: 4px solid #ffffff;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;

		h2 {
			font-family: "Post No Bills Jaffna", sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 64px;
			line-height: 96px;
			text-align: center;
			color: #ffffff;
			padding-top: 93px;
			// border-bottom: 2px solid #ffffff;
			padding-bottom: 2px;
		}

		hr {
			color: white;
			width: 179px;
			margin-top: -20px;
			margin-bottom: 5px;
		}

		p {
			font-family: PT Sans;
			font-weight: normal;
			font-size: 20px;
			line-height: 28px;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
		}
	}

	&__bottom {
		text-align: center;
		height: 96px;
		font-size: 16px;
		line-height: 150%;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		width: 760px;
		margin-top: 80px;
	}
}

.middle {
	&__top {
		height: 730px;
		display: flex;
		justify-content: space-between;
	}

	&__top-left {
		width: 1040px;
		background-color: black;

		hr {
			margin-top: 50px;
			margin-bottom: 50px;
			width: 120px;
		}
	}

	&__top-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		p {
			margin-top: 93px;
			font-family: Playfair Display;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
		}
	}

	&__top-watch {
		display: flex;
		justify-content: space-around;
	}

	&__top-item {
		img {
		}
		p {
		}
	}

	&__top-img {
		width: 260px;
		height: 320px;
		background: #191b1c;
		display: flex;
		align-items: center;
		img {
			margin-left: 19px;
		}
	}

	&__name-item {
		font-family: Playfair Display;
		font-size: 18px;
		line-height: 21px;
		color: #ffffff;
		margin-top: 25px;
		margin-bottom: 10px;
		// margin-top: 25px;
	}

	&__des-item {
		font-family: Playfair Display;
		font-size: 16px;
		line-height: 19px;
		color: #d0d0d0;
		margin-top: 10px;
	}

	&__top-right {
		width: 880px;
		background-image: url("img/man_middle.png");
		display: flex;
		flex-direction: column;
		align-items: center;
		p {
			font-family: Playfair Display;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
			margin-top: 480px;
			margin-bottom: 30px;
		}

		hr {
			margin-bottom: 30px;
			width: 120px;
			text-align: center;
		}

		a {
			width: 138px;
			height: 47px;
			border: 1px solid white;
			color: $color;
			font-weight: normal;
			font-size: 18px;
			line-height: 23px;
			text-align: center;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			flex: none;
			order: 0;
			flex-grow: 0;
			margin: 0px 10px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		a:hover {
			transform: scale(1.11);
			transition: 0.5s;
		}
	}

	&__top-button {
		height: 600px;
	}

	&__bottom {
		// background-color: yellow;
		// height: 600px;
		display: flex;
	}

	&__bottom-left {
		background: url("img/man_pidj.png");
		width: 880px;
		height: 600px;
	}

	&__bottom-right {
		width: 1040px;
		background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		h3 {
			font-family: Playfair Display;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
			margin-top: 100px;
			margin-bottom: 40px;
		}
		hr {
			width: 120px;
		}

		p {
			font-family: PT Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
			text-align: center;
			color: #ffffff;
			margin-top: 40px;
			margin-bottom: 60px;
			width: 474px;
		}

		a {
			width: 311px;
			height: 47px;
			border: 1px solid white;
			color: $color;
			font-weight: normal;
			font-size: 18px;
			line-height: 23px;
			text-align: center;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			flex: none;
			order: 0;
			flex-grow: 0;
			margin: 0px 10px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		a:hover {
			transform: scale(1.11);
			transition: 0.5s;
		}
	}
}

.bottom {
	&__wrap {
		background-color: black;
		// width: 1920px;
		height: 1289px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		p {
			font-family: Playfair Display;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
			margin-top: 120px;
			margin-bottom: 40px;
		}

		hr {
			width: 120px;
			margin-bottom: 81px;
		}
	}
	&__cart {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	&__top-item {
		margin-bottom: 40px;
	}

	&__top-img {
		width: 260px;
		height: 320px;
		background: #191b1c;
		display: flex;
		align-items: center;
		img {
			margin-left: 19px;
		}
	}

	&__name-item {
		font-family: Playfair Display;
		font-size: 18px;
		line-height: 21px;
		color: #ffffff;
		margin-top: 25px;
		margin-bottom: 10px;
		// margin-top: 25px;
	}

	&__des-item {
		font-family: Playfair Display;
		font-size: 16px;
		line-height: 19px;
		color: #d0d0d0;
		margin-top: 10px;
	}
}

.footer {
	&__top {
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
		height: 362px;
		background: #0f0f0f;
		h3 {
			font-family: Playfair Display;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
			margin-top: 60px;
		}

		hr {
			width: 120px;
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}

	&__top-items {
		display: flex;
	}

	&__top-item {
	}

	&__middle-wrap {
		background: url("img/footer.png");
	}

	&__middle {
		height: 400px;
		// width: 1920px;
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	&__middle-left {
		width: 350px;
		h4 {
			font-family: Playfair Display;
			font-size: 24px;
			line-height: 28px;
			text-transform: uppercase;
			color: #ffffff;
			margin-top: 80px;
		}

		p {
			font-family: PT Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
			color: #ffffff;
			margin-top: 40px;
		}
	}

	&__middle-center {
		// text-align: center;
		h4 {
			font-family: Playfair Display;
			font-size: 24px;
			line-height: 28px;
			text-transform: uppercase;
			color: #ffffff;
			margin-top: 80px;
		}
	}

	&__middle-link {
		color: $color;
		border: 1px solid white;
		width: 70px;
		height: 41px;
	}

	&__middle-link:hover {
		transform: scale(1.11);
		transition: 0.5s;
	}

	&__middle-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		// margin-top: 40px;

		a {
			// width: 80px;
			height: 47px;
			border: 1px solid #0f0f0f;
			color: $color;
			font-family: PT Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
			color: #d0d0d0;
			flex: none;
			order: 0;
			flex-grow: 0;
			margin: 0px 10px;
			flex: none;
			order: 0;
			flex-grow: 0;
			margin: 0px 10px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 40px;
			background-color: black;
		}
	}

	&__fl1 {
		width: 90px;
		margin-top: 40px;
	}

	&__fl2 {
		width: 120px;
	}

	&__fl3 {
		width: 90px;
	}

	&__fl4 {
		width: 185px;
	}

	&__fl5 {
		width: 120px;
	}

	&__middle-right {
		// width: 350px;
		h4 {
			font-family: Playfair Display;
			font-size: 24px;
			line-height: 28px;
			text-transform: uppercase;
			color: #ffffff;
			margin-top: 80px;
			margin-left: 15px;
		}
		p {
			font-family: PT Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
			color: #ffffff;
			// width: 350px;
			margin-top: 40px;
			margin-left: 15px;
		}
	}

	&__middle-form {
	}

	&__bottom {
		height: 50px;
		// width: 1920px;
		background: #0f0f0f;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__bottom-wrap {
		background: #0f0f0f;
	}

	&__search {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		// padding: 10px;
		margin-top: 40px;
		margin-left: 15px;
	}

	&__search-field {
		background: #e1e1e1;
		// border-radius: 20px 0 0 20px;
		height: 49px;
		width: 256px;
		border: none;
		opacity: 0.8;
	}

	&__search-field::-webkit-input-placeholder {
		color: #222224;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		color: #222224;
		opacity: 0.67;
		position: absolute;
		left: 20px;
		right: 1px;
		top: 16px;
		bottom: 1px;
	}

	&__search-field:-ms-input-placeholder {
		color: #222224;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		color: #222224;
		opacity: 0.67;
		position: absolute;
		left: 20px;
		right: 1px;
		top: 16px;
		bottom: 1px;
	}

	&__search-field::-ms-input-placeholder {
		color: #222224;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		color: #222224;
		opacity: 0.67;
		position: absolute;
		left: 20px;
		right: 1px;
		top: 16px;
		bottom: 1px;
	}

	&__search-field::placeholder {
		color: #222224;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		color: #222224;
		opacity: 0.67;
		position: absolute;
		left: 20px;
		right: 1px;
		top: 16px;
		bottom: 1px;
	}

	&__search-btn {
		// border-radius: 0 20px 20px 0;
		background-color: #0f0f0f;
		height: 49px;
		width: 100px;
		border: none;
		color: #ffffff;
		cursor: pointer;
	}

	&__search-field:focus {
		outline: none;
		padding-left: 20px;
	}
}
